doctype html
html(style='overflow:hidden;width:100%;height:100%;')
	head
		link(href='css/lson.css', type='text/css', rel='stylesheet')
	body(style='overflow:hidden;width:100%;height:100%;')
		//canvas#canvas-helper
	script(src='js/#{rev.js}.js')
